.header {
	&__nav {
		padding: rem(30) 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: rem(20);
		@media (max-width: $breakpoint-tablet) {
			padding: 16px 0;
			flex-wrap: wrap;
			gap: 10px;
		}
	}
}

.logo {
	display: block;
	width: rem(125);
	height: rem(25);
	svg {
		width: inherit;
		height: inherit;
	}
}
