.button {
	@extend .transition-active;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	font-size: rem(18);
	line-height: 1.11;
	height: rem(54);
	font-weight: 600;
	font-family: $default-font;
	color: $white;
	background: $secondary;
	padding: rem(18) rem(28);
	border-radius: rem(8);
	&:hover {
		background-color: rgba(#000, 0.3);
		color: rgba(#000, 0.8);
		transition: none;
	}

	&:active {
		background-color: rgba(#000, 0.25);
		border-color: rgba(#000, 0.25);

		.button__chevron-right {
			transform: translateX(1px);
			transition: none;
		}
	}

	&__chevron-right {
		margin-left: 5px;
		transition: transform 0.1s ease-out,
			fill $default-transition-duration $default-transition-function;
	}
}
