.button {
	@extend .transition-active;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border: none;
	font-size: rem(18);
	line-height: 1.11;
	height: rem(54);
	font-weight: 600;
	font-family: $default-font;
	color: $white;
	background: $secondary;
	padding: rem(18) rem(28);
	box-sizing: border-box;
	border-radius: rem(8);
	text-decoration: none;
	&:hover {
		transition: none;
		color: $white;
		background: $btn-hover;
	}
	&:active {
		color: $white;
		background: $btn-hover;
	}
}
