.map {
	min-height: rem(773);
	@media (max-width: $breakpoint-tablet) {
		margin: 0 15px;
		margin-bottom: 65px;
		min-height: auto;
	}
	&__tabs {
		@media (max-width: $breakpoint-tablet) {
			width: 100%;
			padding-bottom: 19px;
		}
	}
	&__inner {
		display: flex;
		align-items: baseline;
		justify-content: space-between;
		position: relative;
		background: $white;
		box-shadow: 0 0 rem(40) rgba($black, 0.06);
		padding: rem(28) rem(70);
		min-height: rem(80);
		box-sizing: border-box;
		@media (max-width: $breakpoint-tablet) {
			padding: 20px 5px 0;
			flex-direction: column;
		}
	}
	&__dropdown-btn {
		@include reset-btn;
		display: flex;
		align-items: center;
		gap: rem(12);
		@media (max-width: $breakpoint-tablet) {
			gap: 6px;
			margin-bottom: 14px;
		}
	}
	&__dropdown-wrap {
		position: absolute;
		top: rem(100);
		left: 0;
		z-index: 2;
		width: 100%;
		padding: rem(30) rem(70);
		box-sizing: border-box;
		background: $white;
		box-shadow: 0 0 rem(32) rgba($black, 0.06);
		display: none;
		gap: rem(24);
		&._show {
			display: flex;
			@media (max-width: $breakpoint-tablet) {
				display: grid;
			}
		}
		@media (max-width: $breakpoint-tablet) {
			gap: rem(5);
			padding: 20px 5px;
			flex-wrap: wrap;
			grid-template-columns: repeat(3, 1fr);
			top: 40px;
			z-index: 4;
			box-shadow: none;
			width: calc(100% + 2px);
			left: -1px;
		}
	}
	&__dropdown-text {
		font-size: rem(24);
		line-height: 1;
		font-weight: 600;
		@media (max-width: $breakpoint-tablet) {
			font-size: 20px;
		}
	}
	&__dropdown-icon {
		fill: transparent;
		width: rem(22);
		height: rem(22);
		will-change: transform;
		transition: transform 300ms linear;
		&._show {
			transform: rotate(-180deg);
			transition: transform 300ms linear;
		}
		@media (max-width: $breakpoint-tablet) {
			width: 20px;
			height: 20px;
		}
	}
	&__dropdown-list {
		display: flex;
		flex-direction: column;
		gap: rem(10);
	}
	&__dropdown-list-item {
		@media (max-width: $breakpoint-tablet) {
			&:first-child ~ li {
				display: none;
				&._show {
					display: block;
				}
			}
		}
	}
	&__dropdown-list-link {
		font-family: $secondary-font;
		text-decoration: none;
		&._title {
			font-weight: 600;
		}
		@media (max-width: $breakpoint-tablet) {
			font-size: 14px;
		}
	}
}
