.compensation {
	margin-bottom: rem(100);
	&__inner {
		padding: rem(80) rem(30) rem(60);
		box-shadow: 0 0 rem(40) rgba($black, 0.06);
	}
	&__title {
		margin-bottom: 50px;
	}
	&__subtitle {
		margin-bottom: rem(50);
		&._v1 {
			padding-top: rem(70);
			margin-bottom: rem(4);
		}
	}
	&__list {
		display: grid;
		justify-content: center;
		grid-template-columns: repeat(5, rem(178));
		gap: rem(17);
		padding-bottom: rem(70);
		&:not(:last-child) {
			border-bottom: 1px solid rgba($color: $black, $alpha: 0.1);
		}
		&:last-child {
			padding-bottom: 0;
		}
	}
	&__list-item {
		display: inline-block;
		text-align: center;
	}
	&__list-item-icon-wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		width: rem(110);
		height: rem(110);
		margin: 0 auto;
		border-radius: 50%;
		background: rgba($color: $black, $alpha: 0.05);
		margin-bottom: rem(10);
	}
	&__list-item-icon {
		fill: transparent;
	}
	&__list-item-title {
		line-height: 110%;
	}
}
