.about {
	&__info {
		background: $white;
		box-shadow: 0 0 rem(32) rgba($color: $black, $alpha: 0.08);
		padding: rem(100) rem(110);
		margin-bottom: rem(100);
		@media (max-width: $breakpoint-tablet) {
			padding: 24px 0;
			margin-bottom: 48px;
		}
	}
	&__text {
		font-size: rem(32);
		line-height: 120%;
		text-align: center;
		font-weight: 600;
		@media (max-width: $breakpoint-tablet) {
			font-size: 16px;
			line-height: 120%;
		}
	}
	&__items {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		gap: rem(85) rem(185);
		justify-content: center;
		@media (max-width: $breakpoint-tablet) {
			gap: 24px 6px;
		}
	}
	&__item {
		&:nth-child(4) {
			margin-left: rem(10);
		}
		@media (max-width: $breakpoint-tablet) {
			text-align: center;
			&:nth-child(4) {
				margin-left: 34px;
			}
		}
	}
	&__items-value {
		display: flex;
		align-items: center;
		gap: rem(10);
		font-size: rem(80);
		line-height: 80%;
		color: $secondary;
		font-weight: 600;
		margin-bottom: rem(4);
		&._sign {
			opacity: 0.95;
			font-size: rem(64);
			line-height: 100%;
			font-weight: 900;
			margin-bottom: 0;
			&._semibold {
				font-weight: 600;
			}
			@media (max-width: $breakpoint-tablet) {
				font-size: 30px;
			}
		}
		@media (max-width: $breakpoint-tablet) {
			font-size: 40px;
			justify-content: center;
			gap: 4px;
		}
	}
	&__items-text {
		max-width: rem(220);
		line-height: 120%;
		@media (max-width: $breakpoint-tablet) {
			font-size: 16px;
			line-height: 150%;
			max-width: 180px;
			&._lh-mobile-120 {
				line-height: 120%;
			}
		}
	}
}
