.about {
	margin-bottom: rem(100);
	&__info {
		background: $white;
		box-shadow: 0 0 rem(32) rgba($color: #000000, $alpha: 0.08);
		padding: rem(100) rem(110);
		margin-bottom: rem(100);
	}
	&__text {
		font-size: rem(32);
		line-height: 120%;
		text-align: center;
		font-weight: 600;
	}
	&__items {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		gap: rem(85) rem(185);
		justify-content: center;
	}
	&__item {
		&:nth-child(4) {
			margin-left: rem(10);
		}
	}
	&__items-value {
		display: flex;
		align-items: center;
		gap: rem(10);
		font-size: rem(80);
		line-height: 80%;
		color: $secondary;
		font-weight: 600;
		margin-bottom: rem(4);
		&._sign {
			opacity: 0.95;
			font-size: rem(64);
			line-height: 100%;
			font-weight: 900;
			margin-bottom: 0;
			&._semibold {
				font-weight: 600;
			}
		}
	}
	&__items-text {
		max-width: rem(220);
		line-height: 120%;
	}
}
