$default-transition-duration: 0.4s;
$default-transition-function: ease-out;

$default-font: 'Proxima Nova Condensed', Arial, sans-serif;
$secondary-font: 'Proxima Nova', Arial, sans-serif;

$white: #ffffff;
$black: #000000;
$dark-blue: #2d3653;
$primary: #444444;
$secondary: #a30c33;

$btn-hover: #d53152;

$breakpoint-desktop: 1250px;
$breakpoint-tablet: 768px;
