.wrapper {
	position: relative;
}

.container {
	--container-max-width: #{rem(1110)};
	--container-padding: #{rem(70)};
	width: min(var(--container-max-width), 100% - (var(--container-padding) * 2));
	margin: 0 auto;
	box-sizing: content-box;
	@media (max-width: $breakpoint-tablet) {
		--container-padding: #{rem(15)};
		padding: 0 5px;
		box-sizing: border-box;
	}
}

.row {
	margin-bottom: rem(40);
	&:last-child {
		margin-bottom: 0;
	}
}

.mb {
	@for $i from 0 through 100 {
		&-#{$i*2} {
			margin-bottom: #{rem($i * 2)};
		}
	}
}

section + section {
	margin-bottom: rem(100);
	@media (max-width: $breakpoint-tablet) {
		margin-bottom: 60px;
	}
}
