.h1 {
	font-weight: 600;
	font-size: rem(56);
	line-height: 100%;
	@media (max-width: $breakpoint-tablet) {
		font-size: 28px;
	}
}

.h2 {
	font-weight: 600;
	font-size: rem(40);
	line-height: 120%;
}

.text {
	font-weight: 400;
	line-height: 150%;
}

.large-text {
	font-weight: 400;
	font-size: rem(32);
	line-height: 150%;
}

.text-center {
	text-align: center;
}
