.accordion {
	position: relative;
	overflow: hidden;
	display: flex;
	row-gap: rem(20);
	flex-direction: column;
	text-align: left;
	overflow: hidden;
	@media (max-width: $breakpoint-tablet) {
		row-gap: 5px;
	}
	&._no-border {
		border: 0;
	}
	&:first-child {
		border-top: none;
	}
	&:last-child {
		border-bottom: none;
	}
	&:hover {
		z-index: 1;
	}
	& + & {
		margin-top: -1px;
	}
	&._opened {
		border: none;
		.accordion__toggle {
			&::after {
				transform: rotate(180deg);
			}
		}
		& + .accordion {
			border-top: none;
		}
	}
	&._loaded {
		.accordion__content {
			display: block;
		}
	}
	&__toggle {
		background: 0;
		border: 0;
		outline: none;
		font: inherit;
		color: inherit;
		position: relative;
		display: flex;
		flex-shrink: 0;
		column-gap: rem(10);
		width: fit-content;
		padding: rem(20) 0;
		line-height: 1.5;
		text-align: left;
		cursor: pointer;
		user-select: none;
		._no-border & {
			padding-bottom: 0;
		}
		&::after {
			content: '';
			flex-shrink: 0;
			position: relative;
			width: rem(16);
			height: rem(9);
			left: -5px;
			transition: transform 0.3s ease;
			background: inline('accordion-arrow.svg') no-repeat center;
			background-size: contain;
		}
		&.section-title {
			&::before {
				top: 0.2em;
			}
		}
	}
	&__content {
		display: none;
		padding-bottom: rem(20);
		@media (max-width: $breakpoint-tablet) {
			padding-bottom: 28px;
		}
	}
	&__nowrap {
		white-space: nowrap;
	}
}
